.fondo{
    background-color: rgb(244, 155, 82);
}

p{
    font-size: 1em;
    color: green;
}

#title{
    color: blueviolet;
    font-size: 4em; /*em es una medida relativa*/
}

#titulos{
    border: 2px solid white; /*px es una medida absoluta*/
    width: 65vw; /*viewport width (vw) es una medida relativa, es un 65% del ancho de la pantalla*/
    margin: auto; /*el auto separa de forma proporcional respecto a lo que lo contiene*/
    padding: 3em;
}

.ingreso-container{
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid aqua; 
}

.ingreso-container .ingresos{
    border: 2px solid pink;
    align-items: end;
}

.cards{
    border: 2px solid black;
    width: fit-content;
    height: 250px;
    padding: 1em 2em 0em 2em;
    border-radius: 15%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.cards h4{
    font-size: 1.2em;
    color: red;
}

/*hover es un pseudoselector*/

.cards:hover{
background-color: yellow;
}

#cards-container{
    background-color: orange;
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 2px solid red;
    border-radius: 5%;
    padding: 2em;
    display: flex; /*A partir de ahora se trabaja con flexbox*/
    flex-direction: row;
    justify-content:space-evenly;
}